---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { siteConfig } from '../../site.config'
import '../../styles/app.css'

import type { SiteMeta } from '../../types'

type Props = SiteMeta

const { articleDate, description, ogImage, title } = Astro.props

const titleSeparator = '•'
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
//const canonicalURL = new URL(Astro.url.pathname, Astro.site)
//const socialImageURL = new URL(ogImage ? ogImage : '/social-card.png', Astro.url).href
---
<head>
	<meta charset='utf-8' />
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<meta content='IE=edge' http-equiv='X-UA-Compatible' />
	<title>{siteTitle}</title>
	
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌐</text></svg>">
	
	{/* Font preloads */}
	<!-- <link rel='preload' href='/fonts/Satoshi-Variable.ttf' as='font' type='font/ttf' crossorigin />
	<link
		rel='preload'
		href='/fonts/Satoshi-VariableItalic.ttf'
		as='font'
		type='font/ttf'
		crossorigin
	/>
	<link rel='preload' href='/fonts/ClashDisplay-Variable.ttf' as='font' type='font/ttf' crossorigin /> -->
	
	{/* Canonical URL */}
	
	{/* Primary Meta Tags */}
	<meta content={siteTitle} name='title' />
	<meta content={description} name='description' />
	<meta content={siteConfig.author} name='author' />
	
	{/* Theme Colour */}
	<meta content='' name='theme-color' />
	
	{/* Open Graph / Facebook */}
	<meta content={articleDate ? 'article' : 'website'} property='og:type' />
	<meta content={title} property='og:title' />
	<meta content={description} property='og:description' />
	<meta content={siteConfig.title} property='og:site_name' />
	<meta content={siteConfig.ogLocale} property='og:locale' />
	<meta content='1200' property='og:image:width' />
	<meta content='630' property='og:image:height' />
	
	{/* Twitter */}
	<meta content='summary_large_image' property='twitter:card' />
	<meta content={title} property='twitter:title' />
	<meta content={description} property='twitter:description' />
	
	{/* Sitemap */}
	<link href='/sitemap-index.xml' rel='sitemap' />
	
	<meta content={Astro.generator} name='generator' />
	
</head>
