---
import type { SiteMeta } from '../types';

import ThemeProvider from '../components/ThemeProvider.astro';
import Footer from '../components/layout/Footer.astro';
import Head from '../components/layout/Head.astro';
import Header from '../components/layout/Header.astro';
import { siteConfig } from '../site.config';

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title }
} = Astro.props;
---

<html lang={siteConfig.lang} class="h-full">
	<Head articleDate={articleDate} description={description} ogImage={ogImage} title={title} />

	<body
		class="flex h-full justify-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
	>
		<ThemeProvider />
		<main class="font-satoshi flex h-full w-screen flex-col items-center px-2 pt-2 leading-relaxed">
			<Header />
			<slot />
			<div class="text-primary-foreground w-full">
				<Footer />
			</div>
		</main>
	</body>
</html>
